<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>摄像头操作</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<style>
			.preview{padding:15px}
			.preview img{width:100%;}
			.preview video{width:100%;}
			header{padding:10px;background-color: #ccc;}
		</style>
	</head>
	<body>
		<div class="container">
			<header>
				<button id="btnBack"><i class="mui-icon mui-icon-back"></i></button>
			</header>
			<button id="btnPaiZhao" class="mui-btn mui-btn-danger">拍照</button>
			<button id="btnVideo" class="mui-btn mui-btn-success">录像</button>
			<button id="btnScan" class="mui-btn mui-btn-success">扫码</button>
			<div class="preview">
				<h4>图片展示区域</h4>
			</div>
			
		</div>
		
		<script type="text/javascript" charset="utf-8">
			mui.init();
		
			const btnPaiZhao = document.querySelector('#btnPaiZhao');
			const btnVideo = document.querySelector('#btnVideo');
			const realPath = document.querySelector('#realPath');
			const preview = document.querySelector('.preview');
		
			document.addEventListener('plusready', () => {
				
				btnBack.onclick = ()=>{
					plus.webview.close(plus.webview.currentWebview())
				}
		
				// 调用摄像头
				// 获取声响头管理对象
				const cmr = window.plus.camera.getCamera(2);
				console.log('cmr=', cmr)
		
				btnPaiZhao.onclick = function() {
		
					// 拍照
					cmr.captureImage((path) => {
						// path为临时地址，无法直接显示到页面，如需显示到页面，需要进行转换
						console.log(path);
						const realPath = plus.io.convertLocalFileSystemURL(path);
						console.log('realPath', realPath);
						let img = document.createElement('img'); // new Image()
						img.src = realPath;
						preview.appendChild(img);
					}, (err) => {
						console.log(err)
					})
				}
		
		
				btnVideo.onclick = function() {
					// 拍照
					cmr.startVideoCapture((path) => {
						console.log('path=', path);
						const realPath = plus.io.convertLocalFileSystemURL(path);
						const video = document.createElement('video');
						video.src = realPath;
						preview.appendChild(video);
						video.play();
					}, (err) => {
						console.log(err)
					})
				}
		
		
				btnScan.onclick = function() {
					// 拍照
					// cmr.captureImage((path)=>{
					// 	// path为临时地址，无法直接显示到页面，如需显示到页面，需要进行转换
					// 	console.log(path);
					// 	plus.barcode.scan(path, (type, code, file)=>{
					// 		console.log('扫码ch成功=',type, code, file)
					// 	},(err)=>{
					// 		console.log('扫码失败=',JSON.stringify(err));
					// 	});
					// },(err)=>{
					// 	console.log(err)
					// })
		
					const {
						QR,
						EAN13
					} = plus.barcode
		
					barcode = plus.barcode.create('barcode', [QR, EAN13], {
						top: '100px',
						left: '0px',
						width: '100%',
						height: '500px',
						position: 'static'
					});
					barcode.onmarked = (type, result) => {
						plus.device.beep(1);
						plus.device.vibrate();
						barcode.close();
						console.log('识别成功=', type, result);
						const item = document.createElement('div');
						item.innerText = result;
						preview.appendChild(item);
					}
					barcode.onerror = function(err) {
						consolel.log('扫描失败=', err)
					}
					plus.webview.currentWebview().append(barcode);
					
					// 开始识别
					barcode.start()
				}
			})
		</script>
	</body>
</html>
